{
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^@nestjs/(.*)$",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@background-process(.*)$",
    "^@common(.*)$",
    "^@database(.*)$",
    "",
    "^[./]"
  ],
  "importOrderTypeScriptVersion": "5.0.0",
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
